{% extends 'base.html' %}
{% block content %}

<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ADD YOUR BLOG</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Add Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->


<div class="container mt-5">
    <div class="card shadow p-4">

        <h3 class="text-center mb-4">ADD NEW BLOG</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label>Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Content</label>
                <textarea name="content" class="form-control" rows="5" required></textarea>
            </div>

            <div class="mb-3">
                <label>Upload Image</label>
                <input type="file" name="image" class="form-control">
            </div>

            <button type="submit" class="btn w-100" style="background:#b0b435; color:white;">
                ➕ Add Blog
            </button>
        </form>

    </div>
</div>

{% endblock %}